.Row2 {
    
    width: 25%;
    flex-wrap: nowrap;
}

.text2{
    padding-top: 2%;
    margin-left: 5%;
    font-size:50px

}
.bigDiv2{
    display: flex;
    padding-bottom: 2%
}
.btn{
   display: flex;
   position: relative;
} 