.wrapper{
    background-color: #12161b;
}

.column {
    color: antiquewhite;
    display: flex;
    justify-content: flex-start;
    align-items: self-start;
    flex-direction: column;
    height: 60%;
}

.c-d {
    display: flex;
    align-items: center;
    padding-top: 20px;
    height: 600px;
    gap: 5%;
}

.img-div {
    margin-left: 2%;
    width: 50%;
    height: 63%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img-div img{
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
}

.title {
    font-size: 60px;
    color: #85c0ddf2;
}

.platform {
    color: white;
    margin: 3% 0;
}

.releaseData, .description{
    color: white;
    margin: 2% 0;
}


.add-fav-button {
    margin-top: 2%;
    margin-left: 20px;
    border-radius: 20px;
    width: 35%;
    padding: 1%;
    background-color:#198754;
    color: #fff ;
}

.add-fav-button:hover{
    background-color: #109758;
    width: 38%;
}

.details-title{
    color: #85c0ddf2;
    margin: 0;
    display: flex;
    font-size: 48px;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.details-img{
    width: 100%;
    height: 70vh;
}

.details-data{
    margin: 0;
    padding-bottom: 5%;
}


.details-data h3 {
    margin: 2% 0;
    color: #85c0ddf2;
}



/* border-radius: 20px;
width: 35%;
#198754
#fff */