.all1 {
    background-color: rgba(0, 0, 0, 0.801);
}
.Row1 {
    width: 90%;
    flex-wrap: nowrap;
}

.text {
    // color: white;
    font-family: "Audiowide", sans-serif;
    font-weight: 700;
    color: rgba(255, 0, 0, 0.671);
    padding-top: 2%;
    margin-left: 5%;
    font-size: 50px;
}
.bigDiv1 {
    display: flex;
    width: 85%;
    flex-wrap: nowrap;
    padding: 2%;
    .zoom-out-card {
        transition: transform 0.3s ease;
    }

    .zoom-out-card:hover {
        transform: scale(0.9);
    }
}
.btn {
    display: flex;
    width: 1%;
}
