.bigdiv {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    min-height: 100vh;
    background-color: #393e46;
    .wrap {
        background-color: #393e46;
        width: 18rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5%;
        height: 54vh;
    }
    .btn {
        width: 55%;
        display: flex;
        background-color: aqua;
        justify-content: center;
        margin-top: 3%;
    }
    .card-body {
        background-color: #212b30;
        color: white;
    }
    .main-card-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
