.bigdiv {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    min-height: 100vh;
    .wrap {
        width: 18rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5%;
        height: 54vh;
    }
    .btn {
        width: 100%;
        display: flex;

        justify-content: center;
    }
}
