.c-d {
    padding-top: 20px;
    background-color: black;
}

.column {
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wraptext {
    inline-size: 70%;
    text-align: center;
}
