.c-d{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.c-image{
    width: 100%;
    padding: 10px;
}
.column{
    color: solid black;
    display: relative;
    top:0;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    margin-top:-15%;
    margin-left:4%;


}
.q{
    font-size: 40px
}
.title{
    font-size: 80px;
    text-align: center;

}
.imgd{
    width: 500px;
    height: 500px;
    /* box-sizing: border-box; */
    /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
    border: 20px solid black;
    background: black;


}