.section{
   background-color: black;
   height: 50%;
   background-image: url("../../assets/bg-game2.jpg" );
   background-repeat: repeat;
}
.hero{
  width: 50px;

 }
 .hs{
 /* background-color: black; */
 padding-left:50%;
 display:flex;
 position:absolute;
 top: -25rem;
 left: 9rem;
 }
.search{
   display:flex;
   position:absolute;
   top: 15rem;
   left:55rem;
   width: 40rem;
   height: 3rem
}