.section{
   background-color: rgba(0, 0, 0, 0.960);
   height: 50%;
   /* background-image: url("../../assets/bg-game2.jpg" ); */
   background-repeat: repeat;
}
.hero{
  width: 50px;

 }
 .hs{
   font-family: "Audiowide", sans-serif;
    font-weight: 700;
   background-color: rgba(0, 0, 0, 0.801);
   font-size: 45px;
   margin-right: -20%;
   margin-left:50%;
   display:flex;
   position:absolute;
   top: -1000%;
   left: 11%;
   width: 50%;
   justify-content: center;
   color: red
   }
.search{
   display:flex;
   position:absolute;
   top: 50%;
   left:55%;
   width: 40%;
   height: 9%
}