.all2 {
    background-color: rgba(0, 0, 0, 0.801);
}
.Row2 {
    margin: 0 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.text2 {
    font-family: "Audiowide", sans-serif;
    font-weight: 700;
    color: rgba(255, 0, 0, 0.671);
    padding-top: 2%;
    margin-left: 5%;
    font-size: 50px;
}
.bigDiv2 {
    display: flex;

    justify-content: space-between;
    padding: 2%;
}
.btnBr {
    display: flex;
    height: 10vh;
    align-self: center;
}
