.Row1 {
    width: 25%;
    flex-wrap: nowrap;
}

.text{
    padding-top: 2%;
    margin-left: 5%;
    font-size:50px

}
.bigDiv1{
    display: flex
}
.btn{
   display: flex;
   position: relative;
   .btn2{
       position: relative;
     
   }
} 